# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
import pandas as pd


column_names = ["date", "ticker", "open", "high", "low", "close", "volume"]

data = pd.read_csv("sp500hst.txt", header=None, names=column_names, parse_dates=["date"])

print(data.head())

        date ticker   open     high     low  close  volume
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
mean_values = data.iloc[:, 2:].mean()

print(mean_values)

open         42.595458
high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [4]:
data['month'] = data['date'].dt.month

print(data.head())

        date ticker   open     high     low  close  volume  month
0 2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1 2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2 2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3 2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4 2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [5]:
total_volume_by_ticker = data.groupby('ticker')['volume'].sum()

print(total_volume_by_ticker)

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [29]:


import pandas as pd

new_data = pd.read_csv("sp500hst.txt", delimiter=";", names=["Abbreviation", "Full_name", "Percent"])
print(new_data)

                                       Abbreviation  Full_name  Percent
0           20090821,A,25.6,25.61,25.22,25.55,34758        NaN      NaN
1           20090824,A,25.64,25.74,25.33,25.5,22247        NaN      NaN
2           20090825,A,25.5,25.7,25.225,25.34,30891        NaN      NaN
3       20090826,A,25.32,25.6425,25.145,25.48,33334        NaN      NaN
4           20090827,A,25.5,25.57,25.23,25.54,70176        NaN      NaN
...                                             ...        ...      ...
122569    20100813,ZMH,51.72,51.9,51.38,51.44,14561        NaN      NaN
122570       20100816,ZMH,51.13,51.47,50.6,51,13489        NaN      NaN
122571    20100817,ZMH,51.14,51.6,50.89,51.21,20498        NaN      NaN
122572   20100819,ZMH,51.63,51.63,50.17,50.22,18259        NaN      NaN
122573   20100820,ZMH,50.03,50.55,49.48,49.82,17792        NaN      NaN

[122574 rows x 3 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [14]:
import numpy as np
import pandas as pd

In [41]:
recipes=pd.read_csv('recipes_sample.csv',sep=',')
reviews=pd.read_csv('reviews_sample.csv',sep=',',index_col=0)
#показывает верхние 3 строки
print(recipes.head(3))
#показывает нижние 3 строки
print(reviews.tail(3))

                                    name     id  minutes  contributor_id  \
0  george s at the cove  black bean soup  44123       90           35193
1     healthy for them  yogurt popsicles  67664       10           91970
2           i can t believe it s spinach  38798       30            1533

    submitted  n_steps                                        description  \
0  2002-10-25      NaN  an original recipe created by chef scott meska...
1  2003-07-26      NaN  my children and their friends ask for my homem...
2  2002-08-29      NaN            these were so go, it surprised even me.

   n_ingredients  description_length
0           18.0               330.0
1            NaN               255.0
2            8.0                39.0
            user_id  recipe_id        date  rating  \
1059834      689540     222001  2008-04-08       5
453285   2000242659     354979  2015-06-02       5
691207       463435     415599  2010-09-30       5

                                                    review
1059834  Well, we were not a crowd but it was a fabulou...
453285   I have been a steak eater and dedicated BBQ gr...
691207   Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [47]:
#количество точек данных (строк)
recipes_rows=recipes.shape[0]
reviews_rows=reviews.shape[0]
print(recipes_rows)
print(reviews_rows)

"""
recipes_rows=recipes.count()[0]
reviews_rows=reviews.count()[0]
print(recipes_rows)
print(reviews_rows)
"""
#количество столбцов
recipes_columns=recipes.shape[1]
reviews_columns=reviews.shape[1]
print(recipes_columns)
print(reviews_columns)
"""
recipes_columns=len(recipes.columns)
reviews_columns=len(reviews.columns)
print(recipes_columns)
print(reviews_columns)
"""

#тип данных каждого столбца
recipes_types=recipes.dtypes 
reviews_types=recipes.dtypes
print(recipes_types)
print(reviews_types)

30000
126696
8
5
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [57]:
#ищет пропуски
num1=reviews.isnull().sum()
num2=recipes.isnull().sum()

#пропуски в отношении к общему количеству строк.
print(recipes.isnull().sum()/len(recipes))
print(reviews.isnull().sum()/len(reviews))
"""
print(recipes.isnull().mean())
print(reviews.isnull().mean())
"""

user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64
name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64
user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

'\nprint(recipes.isnull().mean())\nprint(reviews.isnull().mean())\n'

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [61]:
reviews_mean=reviews.select_dtypes(include=['int64', 'float64']).mean()
recipes_mean=recipes.select_dtypes(include=['int64', 'float64']).mean()
print(reviews_mean)
print(recipes_mean)

user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64
id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [62]:
new_recipe=recipes['name'].sample(n=10)
print(new_recipe)

28776                                    veggie oat burger
3043     bill s favorite lemon mushroom chicken with herbs
6962     cilantro lime pork roll ups with caramelized o...
5403                                  cherry crescent ring
19812                                  papa s reuben pizza
24776                                      son in law eggs
7934                                  cranberry lemon cake
20657                  pheasant with mushrooms  and onions
23085                                 rustic potato loaves
5597                          chicken and noodle miso soup
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [65]:
#reviews=reviews.reindex(range(len(reviews)))
reviews=reviews.reset_index(drop=True)
print(reviews)

        user_id  recipe_id date  rating review
0           NaN        NaN  NaN     NaN    NaN
1           NaN        NaN  NaN     NaN    NaN
2           NaN        NaN  NaN     NaN    NaN
3           NaN        NaN  NaN     NaN    NaN
4           NaN        NaN  NaN     NaN    NaN
...         ...        ...  ...     ...    ...
126691      NaN        NaN  NaN     NaN    NaN
126692      NaN        NaN  NaN     NaN    NaN
126693      NaN        NaN  NaN     NaN    NaN
126694      NaN        NaN  NaN     NaN    NaN
126695      NaN        NaN  NaN     NaN    NaN

[126696 rows x 5 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [68]:
recipes1=recipes[(recipes['minutes']<=20) & (recipes['n_ingredients']<=5)]
print(recipes1)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [5]:
recipes['submitted']=pd.to_datetime(recipes['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [81]:
new=recipes[recipes['submitted'].dt.year <= 2010]
print(new)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [87]:
new_recipes=recipes.assign(description_length=recipes['description'].str.len())
#new_recipes=new_recipes.insert(len(new_recipes.columns), 'description_length', recipes['description'].str.len())
print(new_recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [48]:
recipes['name'] = recipes['name'].str.title()
print(recipes['name'])

0               George S At The Cove  Black Bean Soup
1                  Healthy For Them  Yogurt Popsicles
2                        I Can T Believe It S Spinach
3                                Italian  Gut Busters
4            Love Is In The Air  Beef Fondue   Sauces
                             ...
29995    Zurie S Holey Rustic Olive And Cheddar Bread
29996            Zwetschgenkuchen  Bavarian Plum Cake
29997     Zwiebelkuchen   Southwest German Onion Cake
29998                                     Zydeco Soup
29999          Cookies By Design   Cookies On A Stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [94]:
new_recipes1=recipes.assign(name_word_count=recipes['name'].str.split(' ').str.len())
print(new_recipes1)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length  name_word_count
0                   330.0                9
1                   255.0                6
2                    39.0                7
3                   154.0                4
4                   587.0               11
...                   ...              ...
29995               484.0                8
29996               286.0                5
29997               311.0                7
29998               648.0                2
29999               125.0                9

[30000 rows x 10 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [46]:
contributor_c=recipes['contributor_id'].value_counts()
max_contributor_id=contributor_c.idxmax()
print(max_contributor_id)

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [47]:
# средняя оценка для каждого рецепта
average_ratings = reviews.groupby('recipe_id')['rating'].mean()

recipes_no=len(recipes)-average_ratings.count()
print(average_ratings)
print(recipes_no)

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [108]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes['year_done'] = recipes['submitted'].dt.year
recipe_c = recipes['year_done'].value_counts()
print(recipe_c)

year_done
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [32]:
# Объединение таблиц по столбцу 'recipe_id'
merged_df = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')

# Отбор только нужных столбцов
merged_df = merged_df[['id', 'name', 'user_id', 'rating']]

# Проверка наличия отзывов для каждого рецепта
merged_df = merged_df.dropna(subset=['rating'])

# Вывод DataFrame
print(merged_df)

# Проверка наличия рецепта без отзыва
recipe_without_review = recipes[ recipes['id'].isin(merged_df['id'])]
print(recipe_without_review)

            id                                    name  user_id  rating
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]
                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[28100 rows x 9 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [120]:
# Группировка столбцам "recipe_id" и "name" и подсчет количества отвов
grouped_df = merged_df.copy().groupby(['recipe_id', 'name']).count().reset_index()

# Создание нового DataFrame с нужными столбцами
result_df = grouped_df[['recipe_id', 'name', 'review']]

# Добавление столбца "review_count"
result_df_copy = result_df.copy()
result_df_copy['review_count'] = 0

# Замена пропущенных значений на 0
result_df_copy.loc[result_df_copy['review'].isnull(), 'review_count'] = 0

# Проверка работы кода
print(result_df_copy[result_df_copy['review_count'] == 0])

       recipe_id                                        name  review  \
0           48.0                            boston cream pie       2
1           55.0  betty crocker s southwestern guacamole dip       4
2           66.0                 black coffee barbecue sauce      18
3           91.0              brown rice and vegetable pilaf       4
4           94.0                       blueberry buttertarts       4
...          ...                                         ...     ...
28095   536547.0                         cauliflower ceviche       1
28096   536610.0               miracle home made puff pastry       1
28097   536728.0                       gluten free  vegemite       1
28098   536729.0                creole watermelon feta salad       4
28099   536747.0                          lemon pom pom cake       4

       review_count
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
28095             0
28096             0
28097             0
28098             0
28099             0

[28100 rows x 4 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [132]:
"""
merged_data = pd.merge(recipes, reviews, on="recipe_id")
average_ratings = merged_data.groupby("year_added")["rating"].mean()
lowest_rating_year = average_ratings.min()[0]
print(lowest_rating_year)
"""
# Assuming the column names are "recipe_id" in both DataFrames
recipes.columns = recipes.columns.str.lower()  # Convert column names to lowercase for consistency
reviews.columns = reviews.columns.str.lower()

merged_data = pd.merge(recipes, reviews, on="recipe_id")
average_ratings = merged_data.groupby("year_added")["rating"].mean()
lowest_rating_year = average_ratings.min()[0]
print(lowest_rating_year)

KeyError: 'recipe_id'

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [103]:

# Добавьте в таблицу recipes столбец description_length, в котором хранится длина описания рецепта из столбца description.
recipes['description_length'] = recipes['description'].str.len()

# Измените название каждого рецепта в таблице recipes таким образом, чтобы каждое слово в названии начиналось с прописной буквы.
recipes['name'] = recipes['name'].str.title()

#Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.
new_recipes1 = recipes.assign(name_word_count=recipes['name'].str.split(' ').str.len())

sorted_recipes = new_recipes1.sort_values(by='name_word_count', ascending=False)
print(sorted_recipes)

                                                    name      id  minutes  \
3323   Blue Cheese Meatloaf                          ...  402871       75
2676         Beef Stroganoff                  Betty Webb  332495       40
14401  If Give A Kid A Candy    They Always Come Back...  289263       45
15225  Kathy  4   Ma Po S Bean Curd W Pork  Zwt Ii   ...  173440       15
17223  Meal In A Bowl   Noodle Soup   For 1 Double Fo...   25190       11
...                                                  ...     ...      ...
11870                                           Gatorade  379407        6
13197                                           Halushki   46157       70
9696                                               Duros  520568       20
9685                                            Dulcitas  214987       10
4118                                          Burgeritos  339569       30

       contributor_id   submitted  n_steps  \
3323           144140  2009-12-08      3.0
2676           892963  2008-10-23      NaN
14401          488441  2008-02-29      7.0
15225          296809  2006-06-17      9.0
17223            5060  2002-04-14      4.0
...               ...         ...      ...
11870          415933  2009-06-28      NaN
13197           23102  2002-11-15     12.0
9696           331730  2015-01-13      4.0
9685           430188  2007-03-04      NaN
4118          1018770  2008-11-25      5.0

                                             description  n_ingredients  \
3323   o.k...all of you blue cheese lovers out there....            NaN
2676   tenderized beef round steak is cut into thin s...           12.0
14401  my neighbor annie is a fantastic fake out cook...            NaN
15225  my sister again & this time with what she desc...           13.0
17223  this sounded very good from the local newspape...            NaN
...                                                  ...            ...
11870                          from everyday cheapskate.            5.0
13197                         polish cabbage and noodles            7.0
9696                                       healthy snack            NaN
9685                              little mexican sweets!            5.0
4118                                          burgeritos           13.0

       description_length  name_word_count
3323                310.0               31
2676                428.0               21
14401               413.0               18
15225               270.0               18
17223                71.0               17
...                   ...              ...
11870                25.0                1
13197                26.0                1
9696                 13.0                1
9685                 22.0                1
4118                 10.0                1

[30000 rows x 10 columns]

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [126]:
# 5.1
merged_df = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')
merged_df = merged_df[['id', 'name', 'user_id', 'rating']]
merged_df = merged_df.dropna(subset=['rating'])

# 5.2
grouped_df = merged_df.groupby(['id', 'name']).agg({'rating': ['count', 'mean']}).reset_index()
grouped_df.columns = ['recipe_id', 'name', 'review_count', 'rating_mean']

# Saving to Excel
with pd.ExcelWriter('output.xlsx') as writer:
    merged_df.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    grouped_df.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3